.App {
  text-align: center;
  padding-top: 50px;
}

.primeiradiv .segundadiv {
  width: 100%;
  display: inline-block;
  justify-content: center;
  margin-bottom: 0;
  height: 36px;
  width: 100%;
  position: relative;
  padding: 0;
  display: flex;
  text-transform: uppercase;
}

input {
  width: 141px;
  height: 36px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 15px;
  border: 2px solid grey;
}

span {
  font-size: 12px;
  background-color: #666633;
  color: #fff;
  width: 10%;
  -webkit-transition: 1s;
  transition: 1s;
  height: 20px;
  padding: 2px 8px;
  font-weight: 700;
  text-transform: uppercase;
}
