.App {
  text-align: center;
}

.campo-numero {
  width: 85px;
  height: 30px;
  font-size: 23px;
  text-align: center;
  /* border: 0px; */
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 2px;
  color: blue;
}

button {
  width: 85px;
  height: 54px;
  background-color: green;
  border-radius: 8px;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
}


