.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #f2f2f2;
  color: black;
}

.result {
  background-color: aqua;
}
